mixin menu(mod)
    nav.menu
        ul.menu__list
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#') Главная
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#') Обо мне
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#') Навыки
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#') Работы
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#') Отзывы
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#') Связаться
