mixin menu(mod)
    nav.menu
        ul.menu__list
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#header') Главная
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#about') Обо мне
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#skills') Навыки
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#works') Работы
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#reviews') Отзывы
            li.menu__item
                a(class=`menu__link menu__link--${mod}` href='#form') Связаться
