mixin menu(mod)
    nav.menu
        ul.menu__list
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod}` href='#promo') Главная
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod}` href='#about') Обо мне
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod}` href='#skills') Навыки
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod}` href='#works') Работы
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod}` href='#reviews') Отзывы
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod}` href='#form') Связаться
