mixin menu(mod)
    nav.menu
        ul.menu__list
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod} js-menu-link` href='#promo') Главная
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod} js-menu-link` href='#about') Обо мне
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod} js-menu-link` href='#skills') Навыки
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod} js-menu-link` href='#works') Работы
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod} js-menu-link` href='#reviews') Отзывы
            li(class=`menu__item menu__item--${mod}`)
                a(class=`menu__link menu__link--${mod} js-menu-link` href='#form') Связаться
