mixin socials(mod)
    div.socials
        a(class=`socials__link socials__link--${mod}` href='https://www.instagram.com/' aria-label='Инстаграм')
            +icon('instagram', `socials__icon socials__icon--instagram socials__icon--${mod}`)
        a(class=`socials__link socials__link--${mod}` href='https://vk.com/' aria-label='Вконтакте')
            +icon('vk', `socials__icon socials__icon--vk socials__icon--${mod}`)
        a(class=`socials__link socials__link--${mod}` href='https://github.com/' aria-label='Гитхаб')
            +icon('github', `socials__icon socials__icon--github socials__icon--${mod}`)
