section#works.works
    #slider-container


script(type='text/x-template')#slider-template
    .works__container.container(v-if='works.length > 0')
        h2.works__title.title Мои работы
        .works__work-number 2
        display(
            :works='works'
            :currentWork='currentWork'
            @slide='handleSlide'
            :currentIndex='currentIndex'
        )
        description(
            :currentWork='currentWork'
        )

script(type='text/x-template')#slider-display
    .works__slider(:data-slide='currentIndex + 1')
        .works__main-work
            img.works__img(:src='currentWork.photo' alt='Скриншот страницы моего проекта')
        previews(
            :works='works'
            :currentWork='currentWork'
            :currentIndex='currentIndex'
            @slide='handleSlide'
        )
        btns(
            :worksLength='works.length'
            :currentIndex='currentIndex'
            @slide='handleSlide'
        )

script(type='text/x-template')#slider-previews
    .works__preview-block(:style='{transform: `translateY(-${translate}%)`}')
        .works__preview-work(v-for='work, index in works' :key='work.id')
            button.works__preview-btn(
                @click='$emit("slide", index)'
                :class='{active: work.id === currentWork.id}'
                type='button' aria-label='Миниатюра скриншота'
            )
                img.works__img(:src='work.photo' alt='Миниатюра скриншота страницы моего проекта')


script(type='text/x-template')#slider-btn
    .slider__controls
        button.works__btn.works__btn--prev(
            @click='$emit("slide", "next")'
            type='button'
            aria-label='Предыдущий слайд'
            :disabled='currentIndex >= (worksLength - 1)'
        )
            +icon('btn-arrow', 'works__btn-icon')
        button.works__btn.works__btn--next(
            @click='$emit("slide", "prev")'
            type='button'
            aria-label='Следующий слайд'
            :disabled='currentIndex <= 0'
        )
            +icon('btn-arrow', 'works__btn-icon works__btn-icon--next'
        )

script(type='text/x-template')#slider-desc
    .works__wrapper
        tags(
            :tags='tagsArray'
        )
        h3.works__work-title {{currentWork.title}}
        .works__description.text
            p {{currentWork.description}}
        a.works__link(:href='currentWork.link') Посмотреть сайт

script(type='text/x-template')#slider-tags
    .works__tags
        span.works__tag(v-for='tag in tags') {{tag}}
